<h1>Wellspring Fellowship Songs</h1>
<%= form_tag(songs_path, :method => "get", class: "navbar-form", id: "search-form") do %>
    <div class="icon-addon addon-sm">
      <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Songs by Title" %>
      <label for="email" class="glyphicon glyphicon-search" rel="tooltip" title="title"></label>
    </div>
<% end %>
<table class="table table-condensed table-hover">
  <thead>
  <tr>
    <th>#</th>
    <th>Song Title</th>
  </tr>
  </thead>

  <tbody>
  <% @songs.each do |song| %>
      <tr>
        <td class="col-xs-1"><%= song.page %></td>
        <td class="col-xs-8"><%= link_to song.title, song, :class => 'form-control btn btn-primary song-title' %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="row">
  <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <%= link_to 'New Song', new_song_path, :class => 'btn btn-primary' %>
  </nav>
</div>
