<div class="container">
    <p id="notice"><%= notice %></p>

    <%= link_to "Previous", :controller => "songs", :action => "show", :page => (@song.page - 1) %>
    Song
    <%= link_to "Next", :controller => "songs", :action => "show", :page => (@song.page + 1) %>

    <p>
      <strong>Page:</strong>
      <%= @song.page %>
    </p>

    <h1><%= @song.title %></h1>
    <%= @song.text.html_safe %>

    <%= link_to 'Edit', edit_song_path(@song) %> |
    <%= link_to 'Back', songs_path %>
</div>